{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/doLoginAdmin" method="post">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Message sent/scheduled</h1>
      </div>

      <p>
        We will send an email to all subscribers in the area.
      </p>

     
      <p>You can close this window now</p>
      

    </div>
  </div>
  <button class="govuk-button" data-module="govuk-button">Return to home page</button>

  </form>

{% endblock %}
