{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Your flood warnings are set up
        </h1>
      </div>

      <p>We've sent you an email to confirm this.</p>

<p>If you haven't received the email within 2 hours please check your spam folder. If the email has not arrived, call Floodline on 0345 988 1188.</p>

    </div>
  </div>

{% endblock %}
