{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Citizen</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Sign Up</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
      <p>Sign up to get flood warnings if your home or business in England is at risk of flooding. The service is free.</p>
      <p>You’ll need to provide:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the address you want flood warnings for</li>
        <li>an email address</li>
        <li>a way to contact you at any time of day or night - you can choose to get a call, text or email</li>
      </ul>

      <a href="/home.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Update your details or flood warnings</h2>
      
      <p>If you have previously signed up for flood warnings, you can sign into your account to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>update your details</li>
        <li>remove warnings for a property</li>
        <li>delete your account</li>
      </ul>

      <h2 class="govuk-heading-m">
        If you live in Scotland, Wales, or Northern Ireland
      </h2>
      <p>Sign up for flood warnings in Scotland or flood warnings in Wales.</p>
      <p>Use flood maps to check flooding risk in Northern Ireland.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also <a href="#">register by post</a>.</p>

      <p>The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.</p>

      <p>You can’t register for this service if you’re in the UK illegally.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
