{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl govuk-!-margin-top-6" id="proposition-name">Get flood warnings for multiple locations</h1>


<h2 class="govuk-heading-m" style="color: #0b0c0c">Get flood warnings</h2>
<p class="govuk-!-margin-bottom-6"><a href="/uc01/upload-options  " class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Sign up for flood warnings for multiple locations</a></p>

<h2 class="govuk-heading-m" style="color: #0b0c0c">View and edit previous uploads</h2>
<p class="govuk-!-margin-bottom-9"><a href="/uc01/login" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">Sign-in to your flood warnings account
</a></p>



{% endblock %}
